*{
    /* background-color: aqua; */
    /* margin: 0px; */
}
.parent{
    display: flex;
    border: solid black red;
    height: 80vh;
    background-color:beige;
    width: 100vw;
    flex-wrap: wrap;
    justify-content:space-evenly;
    /* justify-content: space-around; */
    align-items: center;
}
.div{
    border:1px solid black;
    background-color: bisque;
    height: auto;
    width: 250px;
    /* border-radius: 5px; */
}
img{
    height: 70%;
    width: 100%;
    border: 2px solid white;
}
p{
    text-align: center;
    font-weight: 900;
    /* margin: 0px; */
    color: black;
    text-decoration: line-through;
}
.new{
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}